@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/sono');

.paginatios{
    display: flex;
    margin-top: 60px;
    margin-left: -50px;
   

    .page {
        margin-left: 380px;
        font-weight: 400;
    }

    .count-page button {
        font-size: 17px;
        font-family: Sono;
    }

    .paging button {
        font-size: 15px;
    }
}

.count-page {
    margin-top: -400px;
    margin-left: -200px;

}

.count-page :root {
    font-family: sono;
}