
.main{
    top: 0;
    left: 0;
    height: 1370px;
    width: 100%;
    z-index: -1;
    opacity: 2;
    position: absolute;
    
    
}
// .overlay{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(207, 236, 255, 0.5);
// }

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-wrapper {
  padding: 150px 254px;
  text-align: center;
  color: var(--white);
  margin-top: 10px;
  height: 700px;
  outline: 3px solid #fff;
  margin-top: 50px;
  border-radius: 30px;
}

:root {
  --width-form: 380px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  .title {
    font-size: 2.5rem;
    font-weight: 200;
  }

  .link {
    color: #fff;
  }

  .title-link {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
  }
}

.form {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 39px;
  width: var(--width-form);
  margin: 0 auto;

  .input {
    margin-top: 23px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 18px;
    background-color: #06c;
    padding-left: 22px;
    border-radius: 40px;
    outline: 3px solid white;

    +.input {
      margin-top: 0;
    }
  }
}

.input-text {
  width: 100%;
  outline: none;
  border: none;
  padding: 14px 20px 14px 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: inherit;
  color: black;

  &::placeholder {
    color: var(--white);
  }
}

.submit-wrapper {
  border: 2px solid #e5e5e5;
  background: silvers;
  width: 100%;
  border-radius: 40px !important;
  outline: 3px solid white;


  .input-submit {
    padding: 14px 0;
    border: none;
    margin: 0 auto;
    // padding: 14px 20px 14px 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: inherit;
    color: white;
  }
}
.button {
  outline: 3px solid white;
}

// Footer
.footer {
  margin-top: 42px;
  display: inline-flex;
  align-content: center;
  gap: 255px;

  .footer-left {
    display: inline-flex;
    align-items: center;
    gap: 11px;

    .input-check {
      width: 23px;
      height: 23px;
    }
  }

  .text {
    font-size: 2.5rem;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
  }
}

.submit {
  outline: 3px solid #fff;
}

/*Footer*/