@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white-color: #ffffff;
    --primary-color: #00CC99;
    --secondary-color: #0066CC;
    --section-bg-color: #f0f8ff;
    --custom-btn-bg-color: #0066CC;
    --custom-btn-bg-hover-color: #00CC99;
    --dark-color: #000000;
    --p-color: #717275;
    --border-color: #7fffd4;
    --link-hover-color: #0066CC;

    --body-font-family: 'Montserrat', sans-serif;
    --title-font-family: 'Sono', sans-serif;

    --h1-font-size: 58px;
    --h2-font-size: 46px;
    --h3-font-size: 32px;
    --h4-font-size: 28px;
    --h5-font-size: 24px;
    --h6-font-size: 22px;
    --p-font-size: 16px;
    --menu-font-size: 14px;

    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}


body {
    background: url("../images/templatemo-wave-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: #36C7E0;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
}

.nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover {
    background: rgba(155, 53, 53, 0.5);
}

.nav-menu-btn {
    display: none;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 250px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #fff;
}

.two label a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }

    .form-box {
        width: 100%;
        height: 500px;
    }

    .register-container,
    .login-container {
        width: 100%;
        padding: 0 20px;
    }

    .register-container .two-forms {
        flex-direction: column;
        gap: 0;
    }
}

.collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background-color: #fff !important;
}

.main {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0em;
}

.audio {
    width: 250px;
    height: 375px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    background-color: #272727;
    color: white;
    box-shadow: 1px 1px 20px 1px black;
    flex: 1 1 250px;
    margin: 1em;
    border-radius: 5px;
}

.audio img {
    width: 200px;
    height: 200px;
    margin: 0.5em;
}

.audio h2 {
    font-weight: 500;
    font-size: medium;
    margin: 0.5em;
}

.audio p {
    font-size: small;
    font-weight: 300;
    text-align: center;
    margin: 0.5em;
}

.btn {
    background-color:rgba(255, 255, 255, 0.7) !important;
}

/* Form search */
.custom-form .form-control {
    border-radius: var(--border-radius-small);
    color: var(--p-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    margin-bottom: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    outline: none;
}

.form-floating>label {
    padding-left: 20px;
}

.custom-form button[type="submit"] {
    background: var(--custom-btn-bg-color);
    border: none;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-semibold);
    transition: all 0.3s;
    margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
    background: var(--custom-btn-bg-hover-color);
    border-color: transparent;
}




/*---------------------------------------
    SEARCH FORM               
  -----------------------------------------*/
.search-form .form-control {
    border: 0;
    margin-bottom: 0;
}

#search.form-control {
    padding-top: 0;
    padding-bottom: 0;
}

.search-form button[type="submit"] {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    max-width: 50px;
    height: 100%;
    padding-left: 15px;
}

.search-form button[type="submit"]:hover {
    background: var(--primary-color);
}

/* Navigation ===== */
navbar-nav {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-medium);
    padding: 30px;
}

.navbar-nav .nav-link {
    padding: 5px 0;
}

.navbar-nav .dropdown-menu {
    position: relative;
    left: 10px;
    opacity: 1;
    pointer-events: auto;
    max-width: 155px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
}

.nav-tabs .nav-link:first-child {
    margin-right: 5px;
}

.nav-tabs .nav-link {
    font-size: var(--copyright-font-size);
    padding: 10px;
}

.copyright-text {
    text-align: center;
}

.site-footer {
    margin-top: -200px;
    padding-top: 200px;
    padding-bottom: 100px;
}