.card-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  // Product ==============
  .card-product {
    width: 50%;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    .remove {
      width: 24px;
      height: 24px;
      object-fit: cover;
      user-select: none;
    }
  
    .card-img {
      width: 72px;
      height: 72px;
      object-fit: cover;
      border-radius: 2px;
      user-select: none;
    }
  
    .card-name {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.42;
    }
  }
  
  // Card price
  .card-price {
    width: 10%;
    font-size: 1.4rem;
    font-weight: 400;
    user-select: none;
  }
  
  // Card quantity
  .card-quantity {
    width: 25%;
    display: inline-flex;
    width: 148px;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--gray-100, #e4e7e9);
    background: var(--gray-00, #fff);
    user-select: none;
  
    .minus {
      user-select: none;
    }
  
    .plus {
      user-select: none;
    }
  
    .number {
      user-select: none;
    }
  }
  
  // Card total
  .card-total {
    width: 10%;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    user-select: none;
  }
  