.header-wrapper {
  // padding-top: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background-color: #1C1C1C;
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
}

.header-left {
  display: flex;
  align-items: center;

  .header-link {
    color: #fff;
  }

  .logo {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    font-weight: 400;
    user-select: none;
  }
  .logo{
    
  }

  .search {
    margin-left: 50px;
    align-items: center;
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 42px;

  .navigation {
    display: flex;
    align-items: center;
    gap: 42px;

    .nav-item {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      user-select: none;
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;
      background-color: transparent;
      color: white;
      border: none;

    }
    .nav-item:hover{
      color:rgb(5, 238, 255);
      transition: .3s;
    }
  }

  .action {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #0066CC;
    outline: 3px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-color: white;

    .login {
      padding: 9px 30px;
      font-size: 2.5rem;
      user-select: none;
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;
      color: white;
      transition: .0.5s;
    }
  }
}
