@import url('https://fonts.cdnfonts.com/css/sono');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ffffff;
    font-size: 29px;
}

.sidebar {
    background-color:#06c ;
    height: 790px;
    margin-top: -154px;
    width: 350px;
    margin-bottom: -1330px;
    border-radius: 30px;
    outline: 2px solid white;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
}

h1 {
    color: #165a72;
    margin: 50px auto;
    font-size: 40px;
}

.menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
}

h2 {
    color: #165a72;
}

.menu-item {
    margin-top: 300px;
}