@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url('https://fonts.cdnfonts.com/css/sono');
*{
  font-weight: Sono;
}
.wrapper-viewBeat {
  margin-top: 213px;
  padding: 0 66px;
}

.wrapper-viewBeat {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

// Search beat ==========
.search-beat {
  outline: none;
  border: 1px solid #ccc; 
  border-radius: 4px;
  padding: 12px 10px 12px 10px;
  width: 300px;
  border-radius: 10px;

  &:focus-within {
    border-color:#000;
  }
}



// List beat ================

.list-beat {
  margin-top: 10px;
  height: 400px;
  width: 100%;
  padding-left: 50px;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

.wrapper-viewBeat td,
.wrapper-viewBeat th {
  border: 3px solid #ddd;
  padding: 8px;
  background-color: white;
}

.wrapper-viewBeat tr:nth-child(even) {
  background-color: #FAFAFA;
}

.wrapper-viewBeat tr:hover {
  background-color: #ddd;
}

.wrapper-viewBeat th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#69818D;
  color: white;
}

.login-wrapper{
    padding: 0px 150px;
    text-align: center;
    color: var(--white);
    margin-bottom: 50px;
    font-size: 50px;
    font-family: Poppins;
   
}
.button-options{
    text-align: center;
    
}
.button-options button{
    margin-left: 10px;
    border-radius: 10px;
    background-color: #3a4449;
    outline: 3px solid #fff;
    color: white; 
    cursor: pointer;
}

.action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
